@using Microsoft.AspNetCore.Identity
@model UtopiaCity.Models.PublicCatering.Reservation
@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "DeleteReservationView";
}
<h4>Remove a reservation from the list</h4>

<h6>@_userManager.FindByIdAsync(_userManager.GetUserId(User)).Result.UserName, are you sure you want to delete this?</h6>
<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Restaurant.Name)
        </dt>
    </dl>

    <form asp-action="DeleteRestaurantView">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

