<div class="btn-group text-nowrap">
    <div>
        <a asp-action="IndexFriends" class="btn btn-info m-1">Friends</a>
    </div>
    <div>
        <a asp-action="IndexWaiting" class="btn btn-info m-1">Waiting to approved</a>
    </div>
    <div>
        <a asp-action="IndexRejected" class="btn btn-info m-1">Rejected</a>
    </div>
    <div>
        <a asp-action="FindUser" class="btn btn-primary m-1">Find Friends</a>
    </div>
</div>