<div class="btn-group text-nowrap">
    <div>
        <a asp-action="TopUpBalance" class="btn btn-info m-1">Top-up balance</a>
    </div>
    <div>
        <a asp-action="Buy" class="btn btn-info m-1">Buy something</a>
    </div>
    <div>
        <a asp-action="ShowPurchases" class="btn btn-info m-1">Show purchases</a>
    </div>
    <div>
        <a asp-action="ShowHistory" class="btn btn-info m-1">Show history</a>
    </div>
</div>