@model UtopiaCity.Models.CitizenAccount.Transaction

@{
    ViewData["Title"] = "TopUpBalance";
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-info" role="alert">
        <strong>@ViewBag.Message</strong>
    </div>
}

<h1 class="text-center">Top Up Balance</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="TopUpBalance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReminderDate" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="RecipientsUsername" class="control-label"></label>
                        <input asp-for="RecipientsUsername" class="form-control" />
                        <span asp-validation-for="RecipientsUsername" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Top up balance" class="btn btn-primary btn-block" />
            </div>
            <div class="form-group">
                <a asp-action="Index" class=" btn btn-secondary btn-block">Back to List</a>
            </div>
        </form>
    </div>
</div>