@model UtopiaCity.Models.Airport.AirportWarehouse

<h4>AirportWarehouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateLuggageView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LuggageType" class="control-label"></label>
                <input asp-for="LuggageType" class="form-control" />
                <span asp-validation-for="LuggageType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LuggageWeight" class="control-label"></label>
                <input asp-for="LuggageWeight" class="form-control" />
                <span asp-validation-for="LuggageWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostName" class="control-label"></label>
                <select asp-for="HostName" class="form-control" asp-items="ViewBag.ForPassengers"></select>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="CreateLuggage" value="Send Luggage to Warehouse" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

