@model UtopiaCity.Models.Airport.TransportManagerSystem.TransportManager

<h4>TransportManager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePartialView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeOfOrder" class="control-label"></label>
                <input asp-for="TypeOfOrder" class="form-control" />
                <span asp-validation-for="TypeOfOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForPassengerId" class="control-label"></label>
                <select asp-for="ForPassengerId" class ="form-control" asp-items="ViewBag.ForPassengerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ForCompanyId" class="control-label"></label>
                <select asp-for="ForCompanyId" class="form-control" asp-items="ViewBag.ForCompanyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

