
@{
    ViewData["Title"] = "GetPassengerDirectionView";
}
<h1>Choose Direction</h1>
<h4>Where do you need?</h4>
<a asp-action="CreateForPassengerTo">
    <div class="form-group">
        <input type="submit" value="to Airport" class="btn btn-primary" />
    </div>
</a>
<a asp-action="CreateForPassengerFrom">
    <div class="form-group">
        <input type="submit" value="from Airport" class="btn btn-primary" />
    </div>
</a>
<p>
    <a asp-action="Index">To Order List</a>
</p>

