@{
    Layout = "/Views/CityAdministration/_MyLayout.cshtml";
    ViewData["Title"] = "City Administration";
}

<div class="container-fluid">
    <h4 class="display-5" style="text-align:center;">Welcome to City Administration</h4>
</div>
