@model RequestToAdministrationViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RequestToAdministration</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" readonly />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfRequest" class="control-labell"></label>
                <input asp-for="DateOfRequest" class="form-control" readonly />
                <span asp-validation-for="DateOfRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SportComplexTitle" class="control-label"></label>
                <input asp-for="@Model.SportComplexTitle" class="form-control" readonly />
                <span asp-validation-for="@Model.SportComplexTitle" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsApproved" /> @Html.DisplayNameFor(model => model.IsApproved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
