<p>
    <a class="btn btn-sm btn-light" asp-controller="Bank" asp-action="Index">Bank</a>
    <a class="btn btn-sm btn-light" asp-controller="CompanyStatus" asp-action="Index">Company status</a>
    <a class="btn btn-sm btn-light" asp-controller="Company" asp-action="Index">Company</a>
</p>