@model UtopiaCity.Models.Airport.ArrivingPassenger

@{
    ViewData["Title"] = "CreateArrivingPassengersView";
}

<h1>CreateArrivingPassengersView</h1>

<h4>ArrivingPassenger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateArrivingPassengersView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PassengerFirstName" class="control-label"></label>
                <input asp-for="PassengerFirstName" class="form-control" />
                <span asp-validation-for="PassengerFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerFamilyName" class="control-label"></label>
                <input asp-for="PassengerFamilyName" class="form-control" />
                <span asp-validation-for="PassengerFamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerBirthDate" class="control-label"></label>
                <input asp-for="PassengerBirthDate" class="form-control" />
                <span asp-validation-for="PassengerBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerGender" class="control-label"></label>
                <input asp-for="PassengerGender" class="form-control" />
                <span asp-validation-for="PassengerGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="CreateArrivingPassengers" value="Accept Passenger" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Ticket" asp-action="Index">Back to Ticket list</a>
</div>

