@model UtopiaCity.Models.Airport.Passenger

@{
    ViewData["Title"] = "PassengerEditView";
}

<h1>Passenger Edit</h1>

<h4>Passenger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Passenger EditView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProgressStatus" class="control-label"></label>
                <input asp-for="ProgressStatus" class="form-control" />
                <span asp-validation-for="ProgressStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerStatus" class="control-label"></label>
                <input asp-for="PassengerStatus" class="form-control" />
                <span asp-validation-for="PassengerStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-controller="Passenger" asp-action="Edit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListOfDeparted">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
