@model UtopiaCity.Models.Airport.Ticket

@{
    ViewData["Title"] = "TicketsCreateView";
}

<h1>TicketsCreateView</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Tickets CreateView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightId" class="control-label"></label>
                <select asp-for="FlightId" class="form-control" asp-items="ViewBag.Flights"></select>
            </div>
            <div class="form-group">
                <label asp-for="PermitedModelId" class="control-label"></label>
                <select asp-for="PermitedModelId" class="form-control" asp-items="ViewBag.PermitedModel"></select>
            </div>
            <div class="form-group">
                <label asp-for="ResidentAccountId" class="control-label"></label>
                <select asp-for="ResidentAccountId" class="form-control" asp-items="ViewBag.ResidentAccount"></select>
            </div>
            <div class="form-group">
                <label asp-for="Direction" class="control-label"></label>
                <input asp-for="Direction" class="form-control" />
                <span asp-validation-for="Direction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="Create" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

