@model UtopiaCity.Models.Airport.Flight

@{
    ViewData["Title"] = "EditFlightView";
}

<h1>EditFlightView</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditFlightView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DestinationPoint" class="control-label"></label>
                <input asp-for="DestinationPoint" class="form-control" />
                <span asp-validation-for="DestinationPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Weather" class="control-label"></label>
                <input asp-for="Weather" class="form-control" />
                <span asp-validation-for="Weather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="Edit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

