@model UtopiaCity.Models.Business.Company

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEO" class="control-label"></label>
                <input asp-for="CEO" class="form-control" />
                <span asp-validation-for="CEO" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="IIK" class="control-label"></label>
                <input asp-for="IIK" class="form-control" />
                <span asp-validation-for="IIK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BIN" class="control-label"></label>
                <input asp-for="BIN" class="form-control" />
                <span asp-validation-for="BIN" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="BankId" class="control-label"></label>
                <select asp-for="BankId" class ="form-control" asp-items="ViewBag.BankId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompanyStatusId" class="control-label"></label>
                <select asp-for="CompanyStatusId" class ="form-control" asp-items="ViewBag.CompanyStatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

