@model UtopiaCity.Models.Clinic.ClinicReport
@addTagHelper *, UtopiaCity

@{
    ViewData["Title"] = "CreateClinicReportView";
}

<h1>CreateClinicReportView</h1>

<h4>ClinicReport</h4>
<p>
    Time is - <time></time>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateClinicReportView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Report" class="control-label"></label>
                <input asp-for="Report" class="form-control" />
                <span asp-validation-for="Report" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportTime" class="control-label"></label>
                <input asp-for="ReportTime" class="form-control" />
                <span asp-validation-for="ReportTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
