@{
    ViewData["Title"] = "BlockUser";
}
<h1>Block User</h1>
<form asp-action="BlockUser" method="post">
    <label>Enter User Id</label><br />
    <input type="text" name="userId" /><br /><br />

    <div class="form-group">
        <input type="submit" value="Block citizen account" class="btn btn-outline-danger" />
    </div>
</form>