@{
    ViewBag.Title = "DeleteAppUser";
}

<form method="post">
    <h2>Are you sure you want to delete your account?</h2>
    <input type="submit" value="Yes" class="btn btn-primary" />
</form>
<a asp-action="ShowUserCabinet">Back to Cabinet</a>
