<a asp-action="Index">
    <div class="form-group">
        <input type="submit" value="CitizenAccountPage" class="btn btn-primary" />
    </div>
</a>
<a asp-action="">
    <div class="form-group">
        <input type="submit" value="Friends" class="btn btn-primary" />
    </div>
</a>
<a asp-action="Index" asp-controller="CitizensTasks">
    <div class="form-group">
        <input type="submit" value="My tasks" class="btn btn-primary" />
    </div>
</a>
<a asp-action="">
    <div class="form-group">
        <input type="submit" value="My certificates" class="btn btn-primary" />
    </div>
</a>
<a asp-action="">
    <div class="form-group">
        <input type="submit" value="My payments" class="btn btn-primary" />
    </div>
</a>