@model UtopiaCity.Models.Airport.WeatherReport

@{
    ViewData["Title"] = "Create a Report";
}

<h1>Create Report</h1>

<h4>WeatherReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PermitedModelId" class="control-label"></label>
                <select asp-for="PermitedModelId" class="form-control" asp-items="ViewBag.Reports"></select>
            </div>
            <div class="form-group">
                <label asp-for="DirectionTo" class="control-label"></label>
                <input asp-for="DirectionTo" class="form-control" />
                <span asp-validation-for="DirectionTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectionFrom" class="control-label"></label>
                <input asp-for="DirectionFrom" class="form-control" />
                <span asp-validation-for="DirectionFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeatherCondition" class="control-label"></label>
                <input asp-for="WeatherCondition" class="form-control" />
                <span asp-validation-for="WeatherCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="Create" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

