@{
    ViewData["Title"] = "DateTimeError";
}

<h1>DateTimeError</h1>
<div>
    <h2>
        Sorry the Weather Report for entered datetime already exist!
    </h2>
    <a asp-action="Index">Back to List</a>
</div>

