@model UtopiaCity.Models.Airport.WeatherReport

@{
    ViewData["Title"] = "Edit the Report";
}

<h1>Edit Weather Report</h1>

<h4>WeatherReport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WeatherCondition" class="control-label"></label>
                <input asp-for="WeatherCondition" class="form-control" />
                <span asp-validation-for="WeatherCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wind" class="control-label"></label>
                <input asp-for="Wind" class="form-control" />
                <span asp-validation-for="Wind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rainfall" class="control-label"></label>
                <input asp-for="Rainfall" class="form-control" />
                <span asp-validation-for="Rainfall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moisture" class="control-label"></label>
                <input asp-for="Moisture" class="form-control" />
                <span asp-validation-for="Moisture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="Edit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

