@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "CitizenAccount";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3" style="background-color:white; padding:0">
            <partial name="_ShowUserCabinetPartial" />
        </div>
        <div class="col-sm-9" style="background-color:white; align-content:center;">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@RenderSection("Scripts", required: false)