@model UtopiaCity.Models.Business.Vacancy

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vacancy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProfessionId" class="control-label"></label>
                <select asp-for="ProfessionId" class ="form-control" asp-items="ViewBag.ProfessionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requirement" class="control-label"></label>
                <input asp-for="Requirement" class="form-control" />
                <span asp-validation-for="Requirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discription" class="control-label"></label>
                <input asp-for="Discription" class="form-control" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

