@model IEnumerable<UtopiaCity.Models.TimelineModel.PermitedModel>


<table class="table">
    <thead>
        <tr>
            <th>
                Вкл / Выкл
            </th>
            <th>
                Дата
            </th>
            <th>
                Сезон
            </th>
            <th>
                Время суток
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        if (item.Season == "Winter")
                        {
                            if (item.TimeOfDay == "night")
                            {
                                <span>ВКЛ</span>
                            }
                        }
                        else
                        {
                            <span>ВЫКЛ</span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfDay)
                </td>
            </tr>
        }
    </tbody>
</table>
