<div>
    <a class="btn btn-sm btn-light" asp-controller="DepatureToThePlace" asp-action="Index">Depature to the places list</a>
    <a class="btn btn-sm btn-light" asp-controller="EmployeeManagement" asp-action="Index">Employees list</a>
    <a class="btn btn-sm btn-light" asp-controller="TransportManagement" asp-action="Index">Transports list</a>
    <a class="btn btn-sm btn-light" asp-controller="FireMessage" asp-action="Index">Fire messages list</a>
    <a class="btn btn-sm btn-light" asp-controller="FireSafetyCheck" asp-action="Index">Fire safety checks list</a>
    <a class="btn btn-sm btn-light" asp-controller="FireSafetyCheckRequest" asp-action="Index">Fire safety checks requests</a>
    <a class="btn btn-sm btn-light" asp-controller="FireSafetyDepartment" asp-action="Index">Fire safety department list</a>
    <a class="btn btn-sm btn-light" asp-controller="Position" asp-action="Index">Positions list</a>
</div>

<br/>

<div class="row">
    <div class="card" style="width: 14rem;">
        <div class="card">
            <a class="btn btn-primary" asp-controller="FireMessage" asp-action="Create">Сreate a fire message</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card" style="width: 14rem;">
        <div class="card">
            <a class="btn btn-primary" asp-controller="FireSafetyCheckRequest" asp-action="Create">Object verification request</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card" style="width: 14rem;">
        <div class="card">
            <a class="btn btn-primary" asp-controller="EmployeeManagement" asp-action="Create">Add employee</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card" style="width: 14rem;">
        <div class="card">
            <a class="btn btn-primary" asp-controller="TransportManagement" asp-action="Create">Add transpot</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card" style="width: 14rem;">
        <div class="card">
            <a class="btn btn-primary" asp-controller="Position" asp-action="Create">Add Position</a>
        </div>
    </div>
</div>